* { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; color: #000; }

body {  }

.container { width: 1200px; margin: 0 auto; }

.top { height: 72px; border-bottom: 1px solid #eee; }
.top_left { float: left; }
.top_right { float: right; }

.top ul { text-align: center; margin: 0 auto; }
.top ul li { 
    float: left;
    border-right: 1px solid #eee; padding: 10px 25px;
    font-size: 10px; line-height: 50px;
    position: relative;
}
.top ul li:nth-child(1) { border-left: 1px solid #eee; }

/* 폰트 설정*/
ul li span { font-weight: bold; font-size: 11px; color: #444; }
.top .top_left li { color: #999; }
.top_right span:hover { color: #b8cd06; }

ul li span img { vertical-align: middle; }

/* 언어선택 css */
/*.top .top_right:nth-child(2) { position: relative; overflow: hidden; }*/

.top .top_right .top_leng {
    position: absolute;
    width: 100%; height: 90px; left: 0; top: 100%;
    text-align: center; background: #fff; border: 1px solid #eee;
/*    display: none;*/
    visibility: hidden;
    opacity: 0;
/*    bottom: 0px; left: 0;*/
    transform: translate(0px, 40px);
    transition: all .4s ease;
}

.top .top_right li:hover .top_leng { 
    transform: translate(0px, 0px);
    visibility: visible;
    opacity: 1;
/*    display: block;*/
}

.top .top_right .top_leng li { 
    float: none; 
    height: 20px; line-height: 30px;
    padding: 4px 24px; font-size: 9px; 
/*    border: none;*/
}

/* 카트설정 */
.top .top_right .top_cartview {
    position: absolute;
    width: 640px; height: 110px; right: -50px; top: 100%;
    padding-top: 30px; text-align: center; background: #fff;
    border: 1px solid #eee; border-bottom-left-radius: 5px; border-top: 5px solid #b8cd06;
    
    z-index: 999;
/*    display: none;*/
    visibility: hidden;
    opacity: 0;
    transition: all .6s ease;
}

.top .top_right .top_cartview h4 { font-size: 20px; }
.top .top_right .top_cartview p { font-size: 12px; color: #999; }
.top .top_right li a.sub { display: block; }
.top .top_right li a:hover + .top_cartview { 
/*    display: block;*/
    visibility: visible;
    opacity: 1;
}


/* 메뉴설정 */
nav { padding: 20px 0; height: 60px; border-bottom: 1px solid #eee; }

.logo { float: left; }
.menu { float: right; height: 60px; position: relative; }
.menu li{
    float: left;
    height: 60px; line-height: 60px;
    font-size: 12px; text-align: center;
}
.menu li a { color: #444; padding: 8px 20px; font-weight: bold; border-radius: 20px; 
    transition: all .3s ease; }
/*.menu li a:hover{ color: white; background: #b8cd06; }*/
.menu li:hover a{ color: white; background: #b8cd06; }
.search .fa-search { float: right; line-height: 60px; padding-left: 15px; }

/* menu sub */
.menu li.active a { color: white; background: #b8cd06; }

.menu li .sub { width: 800px; height: 300px; background: #fff; position: absolute; 
    top:100%; right: -30px; border-top: 4px solid #b8cd06; z-index: 999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.10);
    display: none;
}

/*.menu li:hover .sub { display: block; }*/
.menu li a:hover + .sub { display: block; }

/* slider 기본설정 */
.main_slider { position: relative; }
.gslider {  }
.gslider img { width: 100%; }

.slider_button { 
    position: absolute;
    width: 50px; height: 50px; line-height: 50px;
    border: 6px solid #eee; color: #999; font-size: 20px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    cursor: pointer;
}

.slider_button.prev {
    top: 50%; left: 0px; transform: translate(-50%, -50%);
}

.slider_button.next {
    top: 50%; left: 100%; transform: translate(-50%, -50%);
}

.slider_button:hover {
    border: 6px solid #b8cd06; color: #b8cd06;
}

/* collection */
.collection { }
.collection .banner { width: 50%; position: relative; float: left; }
.collection .banner img { width: 100%; height: 100%; }
.collection .banner .banner_text {
    position: absolute; 
    color: white; text-align: left; 
    top: 30%; padding: 0 80px;
}
.collection .banner .banner_btn {
    position: absolute;
    font-size: 11px; text-align: center;
    top: 80%; left: 80px; width: 130px; height: 45px; line-height: 45px;
    background: #fff;
    border-radius: 30px;
}

.collection .banner .banner_btn:hover {
    background: #b8cd06; color: #fff;
    cursor: pointer;
}

.collection .banner .banner_text h5 { font-size: 14px; margin-bottom: 10px; }
.collection .banner .banner_text h4 { font-size: 30px; margin-bottom: 30px; }

.collection .banner .cover{
/*    top: -100%;*/
/*
    width: 100%; height: 100%;
    position: absolute;
    background: rgba(184, 205, 6, 0.3);
    visibility: hidden;
    overflow: hidden;
    transform: translateY(-100%);
    transition: all .3s ease;
*/
    position: absolute;
    top:0; left: 0; width: 100%; height: 0;
    background: rgba(184, 205, 6, 0.3);
    transition: height .4s ease;
}

.collection .banner:hover .cover{
/*    top: 0;*/
/*
    transform: translateY(0px);
    visibility: visible;
*/
    height: 100%;
    transition: height .4s ease;
}


